<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.ramonaza.officialramonapp" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".frontpage.ui.activities.FrontalActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".people.ui.activities.ContactDataActivity"
            android:label="@string/title_activity_layer2"
            android:parentActivityName=".frontpage.ui.activities.FrontalActivity" >
        </activity>
        <activity
            android:name=".songs.ui.activities.SongDataActivity"
            android:label="@string/title_activity_song_data"
            android:parentActivityName=".frontpage.ui.activities.FrontalActivity" >
        </activity>
        <activity
            android:name=".events.ui.activities.EventPageActivity"
            android:label="@string/title_activity_event_page"
            android:parentActivityName=".frontpage.ui.activities.FrontalActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".frontpage.ui.activities.FrontalActivity" />
        </activity>
        <activity
            android:name=".settings.ui.activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:launchMode="singleInstance"
            >
        </activity>
        <activity
            android:name=".people.rides.ui.activities.RidesActivity"
            android:label="@string/title_activity_rides"
            android:launchMode="singleTop"
            android:parentActivityName=".frontpage.ui.activities.FrontalActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".frontpage.ui.activities.FrontalActivity" />
        </activity>
        <activity
            android:name=".people.ui.activities.AddCustomAlephActivity"
            android:label="@string/title_activity_add_custom_aleph"
            android:parentActivityName=".people.rides.ui.activities.RidesActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".people.rides.ui.activities.RidesActivity" />
        </activity>
        <activity
            android:name=".people.rides.ui.activities.PresentListedAlephActivity"
            android:label="@string/title_activity_present_listed_aleph"
            android:launchMode="singleTop"
            android:parentActivityName=".people.rides.ui.activities.RidesActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".people.rides.ui.activities.RidesActivity" />
        </activity>
        <activity
            android:name=".people.rides.ui.activities.AddCustomDriverActivity"
            android:label="@string/title_activity_add_custom_driver"
            android:parentActivityName=".people.rides.ui.activities.RidesActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".people.rides.ui.activities.RidesActivity" />
        </activity>
        <activity
            android:name=".people.rides.ui.activities.RidesDriverManipActivity"
            android:label="@string/title_activity_rides_driver_manip"
            android:launchMode="singleTop"
            android:parentActivityName=".people.rides.ui.activities.RidesActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".people.rides.ui.activities.RidesActivity" />
        </activity>
        <activity
            android:name=".people.rides.ui.activities.AddAlephToDriverActivity"
            android:label="@string/title_activity_add_aleph_to_driver"
            android:parentActivityName=".people.rides.ui.activities.RidesDriverManipActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".people.rides.ui.activities.RidesDriverManipActivity" />
        </activity>
        <activity
            android:name=".people.rides.ui.activities.RemoveAlephFromDriverActivity"
            android:label="@string/title_activity_remove_aleph_from_car"
            android:parentActivityName=".people.rides.ui.activities.RidesDriverManipActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".people.rides.ui.activities.RidesDriverManipActivity" />
        </activity>
        <activity
            android:name=".people.rides.ui.activities.DisplayRidesActivity"
            android:label="@string/title_activity_display_rides"
            android:parentActivityName=".people.rides.ui.activities.RidesActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.ramonaza.officialramonapp.people.rides.ui.activities.RidesActivity" />
        </activity>
    </application>

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
</manifest>
