<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.ramonaza.officialramonapp" >

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.FrontalActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ContactDataActivity"
            android:label="@string/title_activity_layer2"
            android:parentActivityName=".activities.FrontalActivity" >
        </activity>
        <activity
            android:name=".activities.SongDataActivity"
            android:label="@string/title_activity_song_data"
            android:parentActivityName=".activities.FrontalActivity" >
        </activity>
        <activity
            android:name=".activities.EventPageActivity"
            android:label="@string/title_activity_event_page"
            android:parentActivityName=".activities.FrontalActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.ramonaza.officialramonapp.activities.FrontalActivity" />
        </activity>
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name=".activities.RidesActivity"
            android:label="@string/title_activity_rides"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.FrontalActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.ramonaza.officialramonapp.activities.FrontalActivity" />
        </activity>
        <activity
            android:name=".activities.AddCustomAlephActivity"
            android:label="@string/title_activity_add_custom_aleph"
            android:parentActivityName=".activities.RidesActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.ramonaza.officialramonapp.activities.RidesActivity" />
        </activity>
        <activity
            android:name=".activities.PresentListedAlephActivity"
            android:label="@string/title_activity_present_listed_aleph"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.RidesActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.ramonaza.officialramonapp.activities.RidesActivity" />
        </activity>
        <activity
            android:name=".activities.AddCustomDriverActivity"
            android:label="@string/title_activity_add_custom_driver"
            android:parentActivityName=".activities.RidesActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.ramonaza.officialramonapp.activities.RidesActivity" />
        </activity>
        <activity
            android:name=".activities.RidesDriverManipActivity"
            android:label="@string/title_activity_rides_driver_manip"
            android:parentActivityName=".activities.RidesActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.ramonaza.officialramonapp.activities.RidesActivity" />
        </activity>
        <activity
            android:name=".activities.AddAlephToDriverActivity"
            android:label="@string/title_activity_add_aleph_to_driver"
            android:parentActivityName=".activities.RidesDriverManipActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.ramonaza.officialramonapp.activities.RidesDriverManipActivity" />
        </activity>
        <activity
            android:name=".activities.RemoveAlephFromDriverActivity"
            android:label="@string/title_activity_remove_aleph_from_car"
            android:parentActivityName=".activities.RidesDriverManipActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.ramonaza.officialramonapp.activities.RidesDriverManipActivity" />
        </activity>
    </application>

</manifest>
